<div class="v1">
    <div class="v1-absolute">
        <div class="v1-absolute-nav1">Home</div>
        <div class="v1-absolute-nav2">About us</div>
        <div class="v1-absolute-nav3">Care Solutions</div>
        <div class="v1-absolute-nav4">Staffing Solutions</div>
        <div class="v1-absolute-nav5">Business Enquiry</div>
        <div class="v1-absolute-nav6">Contact us</div>
    </div>
    <div class="v1-wrapper">
       <!-- Division One of Four-->
       <div class="v1-v1">
        <div class="v1-v1-h1">
            <p class="v1-v1-h1-txt1"><span class="v1-v1-h1-txt1-icon"></span>168 Brighton Road Lancing BN158LL</p>
            <p class="v1-v1-h1-txt2"><span class="v1-v1-h1-txt2-icon"></span>info@talentflowltd.co.uk</p>
            <p class="v1-v1-h1-txt3"><span class="v1-v1-h1-txt3-icon"></span>+447916278900</p>
        </div>
        <div class="v1-v1-h2">
            <button class="v1-v1-h2-btn1"></button>
            <button class="v1-v1-h2-btn2"></button>
            <button class="v1-v1-h2-btn3"></button>
        </div>
    </div>
    
    
    <!-- Division Two of Four-->
    <div class="v1-v2">
        <div class="v1-v2-h1">
            <button class="v1-v2-h1-banner"></button>
        </div>
        <div class="v1-v2-h2">
            <button class="v1-v2-h2-nav1">Home</button>
            <button class="v1-v2-h2-nav2">About Us</button>
            <button class="v1-v2-h2-nav3">Care Solutions</button>
            <button class="v1-v2-h2-nav4">Staffing Solution</button>
            <button class="v1-v2-h2-nav5">Business Enquiry</button>
            <button class="v1-v2-h2-nav6">Contact us</button>
        </div>
    </div>
    
    
    <!-- Division Three of Four-->
    <div class="v1-v3">
        <div class="v1-v3-h2">
            <div class="v1-v3-h2-v1">
                <p class="v1-v3-h2-v1-txt1">Staffing Solutions</p>
            </div>
            <div class="v1-v3-h2-v2">
                <p class="v1-v3-h2-v2-txt1">Home / Staffing Solutions</p>
            </div>
        </div>
    </div>
    </div>
    </div>