<div class="v2">
    <div class="v2-h1">
        <div class="v2-h1-v1">
            <p class="v2-h1-v1-txt1">Registered Nurses / Team Leaders</p>
        </div>
        <div class="v2-h1-v2">
            A nursing manager is responsible for promoting and restoring patients' health by developing day-to-day management and long-term planning of the patient care area. They direct and develop staff collaborating with physicians and multidisciplinary professional staffs and provide physical and psychological support for patients, friends, and families. Additionally, nurse managers maintain nursing guidelines by writing and updating policies and procedures. Nurse managers usually work in nursing homes, hospitals, and other healthcare facilities.<b> For enquiry, click the enquire now button</b>
        </div>
        <div class="v2-h1-v3">
            A Masters degree in Nursing is preferred along with 5 years' nursing experience is required for nurse manager positions. A current RN License in the residing state is also required. Successful nurse managers are able to work efficiently under time constraints and possess strong leadership skills and the ability to work collaboratively with a large team.<b> For applying for this post click the apply now button.</b>
        </div>
        <div class="buttons">
            <button class="apply">Apply now</button>
            <button class="enquire">Enquire now</button>
        </div>
    </div>
    <div class="v2-h2">
        <div class="v2-h2-v1"></div>
    </div>
</div>