<div class="v3">
    <div class="v3-h2">
        <div class="v3-h2-v1"></div>
    </div>
    <div class="v3-h1">
        <div class="v3-h1-v1">
            <p class="v3-h1-v1-txt1">Health Care Assistants</p>
        </div>
        <div class="v3-h1-v2">
            Healthcare Assistants (HCAs) work within a range of NHS hospital or community settings under the guidance of a variety of healthcare professionals. The nature of the role will vary depending upon the area of work. An HCA could be working alongside nurses in hospitals or midwives in maternity services or in mental health, community or General Practice (GP) surgeries, for example. <b> For enquiry, click the enquire now button</b>
        </div>
        <div class="v3-h1-v3">
            There are no set entry requirements to become a healthcare assistant. Employers expect good literacy and numeracy and may ask for GCSEs (or equivalent) in English and maths. Bayvue limited is supporting all the backgrounds to go forward in development by doing Nvq in Adult Social Care. <b> For applying for this post click the apply now button.</b>
        </div>
        <div class="buttons">
            <button class="apply">Apply now</button>
            <button class="enquire">Enquire now</button>
        </div>
    </div>
</div>