<div class="v4">
    <div class="v4-h1">
        <div class="v4-h1-v1">
            <p class="v4-h1-v1-txt1">Chefs / Catering Assistants</p>
        </div>
        <div class="v4-h1-v2">
            Catering Assistants are employed to prepare food, stock supplies and clean kitchens and service work areas. They assist Caterers at social and corporate events such as weddings, conferences and galas. Catering Assistants work with Event Managers, Servers and Chefs to ensure that guests at events are satisfied. Typical work weeks can require up to 40 hours, depending on whether the role is full or part-time. Catering Assistants regularly work weekends, late nights, early mornings and holidays. With experience and training, a Catering Assistant can become a Catering Manager or Catering Coordinator. They can also progress into the role of Trainee or Junior Chef, depending on their industry.<b>For enquiry, click the enquire now button</b> 
        </div>
        <div class="v4-h1-v3">
            A successful Catering Assistant candidate has prerequisite skills and qualifications needed to do their work effectively. These include Preparations of various types of cookery, Application of food health and safety regulations, Ability to work as part of a team, Excellent customer service skills Effective organisational skills, Manual dexterity and good hand-eye coordination to prepare food properly <b>To apply for this post click the apply now button.</b>
        </div>
        <div class="buttons">
            <button class="apply">Apply now</button>
            <button class="enquire">Enquire now</button>
        </div>
    </div>
    <div class="v4-h2">
        <div class="v4-h2-v1"></div>
    </div>
</div>