<div class="v6">
    <div class="v6-h2">
        <div class="v6-h2-v1"></div>
    </div>
    <div class="v6-h1">
        <div class="v6-h1-v1">
            <p class="v6-h1-v1-txt1">House Keeping/Facilities Assistants</p>
        </div>
        <div class="v6-h1-v2">
            A housekeeping assistant is familiar with all housekeeping duties and simply assists to ensure everything is prim and proper. They are responsible for ensuring hotel rooms are clean and tidy for guests. In a smaller establishment or lodge, they may be told which rooms to clean by the housekeeper. Cleans and sanitizes hotel and guest rooms. Vacuums and sweeps floors, carpets, and rugs. Makes beds and changes linens. Cleans and sanitizes bathrooms, showers, toilets, sinks, and countertops. Replenishes toiletries and towels. <b>For enquiry, click the enquire now button</b>
        </div>
        <div class="v6-h1-v3">
            There are no set entry requirements to become a healthcare assistant. Employers expect good literacy and numeracy and may ask for GCSEs (or equivalent) in English and maths. Bayvue limited is supporting all the backgrounds to go forward in development by doing Nvq in Adult Social Care. <b> For applying for this post click the apply now button.</b>
        </div>
        <div class="buttons">
            <button class="apply">Apply now</button>
            <button class="enquire">Enquire now</button>
        </div>
    </div>
</div>