<div class="v7">
    <div class="v7-h1">
        <div class="v7-h1-v1">
            <p class="v7-h1-v1-txt1">Drivers</p>
        </div>
        <div class="v7-h1-v2">
            We are looking for a Company Driver to join our team on a full-time basis. You will be responsible for driving the staff members to their destinations in a safe and timely manner. Besides, you will also be transporting goods and raw materials when need be. As a Company Driver with us, you should be well-groomed and report duty on time. Also, you should have an approachable personality. You should be able to address any client inquiries in a professional manner. Additionally, you should be able to work on weekends and at flexible hours.<b>For enquiry, click the enquire now button</b>
        </div>
        <div class="v7-h1-v3">
            You should be well-versed with the traffic rules and regulations. Moreover, you should be able to take alternate routes to avoid heavy traffic or to reach the destination faster. You should hold a UK valid driving license for minimum 5 years and Acquire an excellent sense of navigation. Be responsible and reliable. Keep in mind that speeding doesn't save time. Know which side the fuel cap is on. Keep alert. Understand the road rules. Practise self-discipline. Be patient. Apart from driving, you should conduct regular vehicle checks to ensure it is in working order. <b>To apply for this post click the apply now button.</b>
        </div>
        <div class="buttons">
            <button class="apply">Apply now</button>
            <button class="enquire">Enquire now</button>
        </div>
    </div>
    <div class="v7-h2">
        <div class="v7-h2-v1"></div>
    </div>
</div>