<div class="v2">
    <div class="v2-h1">
        <p class="v2-h1-txt1">Let's Talk</p>
        <div class="v2-h1-v1">
            <div class="v2-h1-v1-style1"></div>
            <div class="v2-h1-v1-style2"></div>
        </div>
        <input type="text" class="v2-h1-inp1" placeholder="Name">
        <input type="text" class="v2-h1-inp2" placeholder="Email">
        <input type="text" class="v2-h1-inp3" placeholder="Subject">
        <textarea class="v2-h1-inp4" placeholder="Message"></textarea>
        <button class="v2-h1-btn1">Send</button>
    </div>
    <div class="v2-h2">
        <p class="v2-h2-txt1">Contact us</p>
        <div class="v2-h2-v1">
            <div class="v2-h2-v1-style1"></div>
            <div class="v2-h2-v1-style2"></div>
        </div>
        <div class="v2-h2-v2"><span class="v2-h2-v2-icon1"></span>168 Brighton Road Lancing BN158LL</div>
        <div class="v2-h2-v3"><span class="v2-h2-v3-icon1"></span>+447916278900</div>
        <div class="v2-h2-v4"><span class="v2-h2-v4-icon1"></span>+447915000239</div>
        <div class="v2-h2-v5"><span class="v2-h2-v5-icon1"></span>info@talentflowltd.co.uk</div>
    </div>
</div>