<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title><%= title %></title>
    <link rel="stylesheet" href="<%=styleFile%>">

    <link rel="icon" type="image/x-icon" href="/images/log.png">

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" crossorigin=""/>

    <link rel="prefetch" href="/views/aboutUs.ejs">
    <link rel="prefetch" href="/public/aboutUsStyle.css" as="style">
    <link rel="prefetch" href="/views/businessEnquiry.ejs">
    <link rel="prefetch" href="/public/businessEnquiryStyle.css" as="style">
    <link rel="prefetch" href="/views/careSolutions.ejs">
    <link rel="prefetch" href="/public/careSolutionsScript.js" as="style">
    <link rel="prefetch" href="/views/contact.ejs">
    <link rel="prefetch" href="/public/contactStyle.css" as="style">
    <link rel="prefetch" href="/views/form.ejs">
    <link rel="prefetch" href="/public/formStyle.css" as="style">
    <link rel="prefetch" href="/views/mainPage.ejs">
    <link rel="prefetch" href="/public/mainPageStyle.css" as="style">
    <link rel="prefetch" href="/views/staffingSolutions.ejs">
    <link rel="prefetch" href="/public/staffingSolutionsStyle.css" as="style">

    <link rel="preload" href="/public/images/banners/bannerimage10.jpg" as="image">
    <link rel="preload" href="/public/images/banners/bannerimage16.jpg" as="image">
    <link rel="preload" href="/public/images/banners/bannerimage2.jpg" as="image">
    <link rel="preload" href="/public/images/banners/bannerimage3.jpg" as="image">
    <link rel="preload" href="/public/images/banners/bannerimage4.jpg" as="image">
    <link rel="preload" href="/public/images/banners/bannerimage5.jpg" as="image">
    <link rel="preload" href="/public/images/banners/bannerimage6.jpg" as="image">
    <link rel="preload" href="/public/images/banners/bannerimage7.jpg" as="image">
    <link rel="preload" href="/public/images/banners/bannerimage8.jpg" as="image">
    <link rel="preload" href="/public/images/banners/bannerimage9.jpg" as="image">
    <link rel="preload" href="/public/images/banners/chef.jpg" as="image">
    <link rel="preload" href="/public/images/banners/compassionate.jpg" as="image">
    <link rel="preload" href="/public/images/banners/dementiacare.jpg" as="image">
    <link rel="preload" href="/public/images/banners/domiciliarycare.jpg" as="image">
    <link rel="preload" href="/public/images/banners/driver.jpg" as="image">
    <link rel="preload" href="/public/images/banners/heritage.jpg" as="image">
    <link rel="preload" href="/public/images/banners/housekeep.jpg" as="image">
    <link rel="preload" href="/public/images/banners/leaders.jpg" as="image">
    <link rel="preload" href="/public/images/banners/liveincare.jpg" as="image">
    <link rel="preload" href="/public/images/banners/qualitymed.jpg" as="image">
    <link rel="preload" href="/public/images/banners/reablement.jpg" as="image">
    <link rel="preload" href="/public/images/banners/specialist.jpg" as="image">

    <link rel="preload" href="/public/images/icons/aim.png" as="image">
    <link rel="preload" href="/public/images/icons/burger-menu.png" as="image">
    <link rel="preload" href="/public/images/icons/chevronL.png" as="image">
    <link rel="preload" href="/public/images/icons/chevronR.png" as="image">
    <link rel="preload" href="/public/images/icons/email.png" as="image">
    <link rel="preload" href="/public/images/icons/eye.png" as="image">
    <link rel="preload" href="/public/images/icons/facebook.png" as="image">
    <link rel="preload" href="/public/images/icons/instagram.png" as="image">
    <link rel="preload" href="/public/images/icons/location.png" as="image">
    <link rel="preload" href="/public/images/icons/mobile.png" as="image">
    <link rel="preload" href="/public/images/icons/phone.png" as="image">
    <link rel="preload" href="/public/images/icons/value.png" as="image">
    <link rel="preload" href="/public/images/icons/x.png" as="image">

</head>