<div class="v2">

    <div class="v2-h1">
        <p class="v2-h1-txt1">About us</p>
        <div class="v2-h1-v1">
            <div class="v2-h1-v1-style1"></div>
            <div class="v2-h1-v1-style2"></div>
        </div>
        <div class="v2-h1-v2-wrapper">
         <div class="v2-h1-v2">
             <div class="v2-h1-v2-v1">
                 <p class="v2-h1-v2-v1-txt1">We are Reliable</p>
                 <p class="v2-h1-v2-v1-txt2">We Care</p>
                 <p class="v2-h1-v2-v1-txt3">We listen</p>
             </div>
             <div class="v2-h1-v2-v2">
                 <p class="v2-h1-v2-v2-txt1">
                    Talentflow Ltd is a compny that specialised in health and socialcare. We find, employ, and retain top personnel for your company.
                 </p>
             </div>
             <div class="v2-h1-v2-v3">
                 <p class="v2-h1-v2-v3-txt1">
                    This vital function influences your company's long-term success. We have established a reputation for providing high-quality, specialized services while increasing profitability for our clients.
                 </p>
             </div>
             <div class="v2-h1-v2-v4">
                 <button class="v2-h1-v2-v4-btn1">Read more</button>
             </div>
            </div>
        </div>
    </div>

    <div class="v2-h2">
        <div class="v2-h2-img1"></div>
        <div class="v2-h2-h1">
            <div class="v2-h2-h1-img1"></div>
            <div class="v2-h2-h1-img2"></div>
        </div>
    </div>

</div>