<div class="v4">
    <div class="v4-v1">Care Solutions</div>
    <div class="v4-v2">
        <div class="v4-v2-style1"></div>
        <div class="v4-v2-style2"></div>
        <div class="v4-v2-style3"></div>
    </div>
    <div class="v4-v3">
        <div class="v4-v3-itm1 itmcaresolution">
            <div class="v4-v3-itm1-v1 itmcaresolutiontop">01</div>
            <div class="v4-v3-itm1-v2 itmcaresolutionmiddle">
                <p class="v4-v3-itm1-v2-txt1 itmcaresolutionmiddletxt1">Personal Care</p>
                <p class="v4-v3-itm1-v2-txt2 itmcaresolutionmiddletxt2">Our care packages are thoroughly customizable to match your requirements and are developed with a great deal or as little assistance from both you and your relatives as you choose.</p>
                <button class="v4-v3-itm1-v2-btn1 itmcaresolutionmiddlebtn1">Read more</button>
            </div>
        </div>
        <div class="v4-v3-itm2 itmcaresolution">
            <div class="v4-v3-itm2-v1 itmcaresolutiontop">02</div>
            <div class="v4-v3-itm2-v2 itmcaresolutionmiddle">
                <p class="v4-v3-itm2-v2-txt1 itmcaresolutionmiddletxt1">Live-in Care</p>
                <p class="v4-v3-itm2-v2-txt2 itmcaresolutionmiddletxt2">Our live-in care team is skilled and has vast expertise in nursing care. We often interact with local nursing groups to ensure that our service users get the best care possible and that the hospital to home is easy.</p>
                <button class="v4-v3-itm2-v2-btn1 itmcaresolutionmiddlebtn1">Read more</button>
            </div>
        </div>
        <div class="v4-v3-itm3 itmcaresolution">
            <div class="v4-v3-itm3-v1 itmcaresolutiontop">03</div>
            <div class="v4-v3-itm3-v2 itmcaresolutionmiddle">
                <p class="v4-v3-itm3-v2-txt1 itmcaresolutionmiddletxt1">Dementia Care</p>
                <p class="v4-v3-itm3-v2-txt2 itmcaresolutionmiddletxt2">Dementia may be a difficult illness to live with, whether you have it yourself or care for someone who does. Every day is different, and the level of care and assistance required might change.</p>
                <button class="v4-v3-itm3-v2-btn1 itmcaresolutionmiddlebtn1">Read more</button>
            </div>
        </div>
        <div class="v4-v3-itm4 itmcaresolution">
            <div class="v4-v3-itm4-v1 itmcaresolutiontop">04</div>
            <div class="v4-v3-itm4-v2 itmcaresolutionmiddle">
                <p class="v4-v3-itm4-v2-txt1 itmcaresolutionmiddletxt1">Domiciliary Care</p>
                <p class="v4-v3-itm4-v2-txt2 itmcaresolutionmiddletxt2">Domiciliary care is the range of services put in place to support an individual in their own home, and is available to those that require additional support with day to day household tasks.</p>
                <button class="v4-v3-itm4-v2-btn1 itmcaresolutionmiddlebtn1">Read more</button>
            </div>
        </div>
        <div class="v4-v3-itm5 itmcaresolution">
            <div class="v4-v3-itm5-v1 itmcaresolutiontop">05</div>
            <div class="v4-v3-itm5-v2 itmcaresolutionmiddle">
                <p class="v4-v3-itm5-v2-txt1 itmcaresolutionmiddletxt1">Specialist Care</p>
                <p class="v4-v3-itm5-v2-txt2 itmcaresolutionmiddletxt2">We recognize that each person we assist is unique,with varying care needs,and that expert care services are necessary to focus on and achieve the greatest outcomes.</p>
                <button class="v4-v3-itm5-v2-btn1 itmcaresolutionmiddlebtn1">Read more</button>
            </div>
        </div>
        <div class="v4-v3-itm6 itmcaresolution">
            <div class="v4-v3-itm6-v1 itmcaresolutiontop">06</div>
            <div class="v4-v3-itm6-v2 itmcaresolutionmiddle">
                <p class="v4-v3-itm6-v2-txt1 itmcaresolutionmiddletxt1">Reablement Care</p>
                <p class="v4-v3-itm6-v2-txt2 itmcaresolutionmiddletxt2">Sometimes folks just require a short-term care package. Whether it's to aid you through a brief sickness, to help you get back on your feet after an operation, or to help you rebuild your confidence.</p>
                <button class="v4-v3-itm6-v2-btn1 itmcaresolutionmiddlebtn1">Read more</button>
            </div>
        </div>
    </div>
</div>