<div class="v5-absolute">
    <div class="v5-wrapper"></div>
</div>
<div class="v5">
    <div class="v5-txt1">Care Solutions and Staffing Solutions <br>With<br> Years of Experience.</div>
    <div class="v5-v2">
        <div class="v5-v2-style1"></div>
        <div class="v5-v2-style2"></div>
        <div class="v5-v2-style3"></div>
    </div>
    <div class="v5-v3">
        <div class="v5-v3-h1">
            <div class="v5-v3-h1-txt1">0%</div>
            <div class="v5-v3-h1-txt2">Service Quality</div>
        </div>
        
        <div class="v5-v3-h2">
            <div class="v5-v3-h2-txt1">0%</div>
            <div class="v5-v3-h2-txt2">Satisfied Clients</div>
        </div>
    </div>
</div>