<div class="v6">
    <div class="v6-v1">Staffing Solutions</div>
    <div class="v6-v2">
        <div class="v6-v2-style1"></div>
        <div class="v6-v2-style2"></div>
        <div class="v6-v2-style3"></div>
    </div>
    <div class="v6-v3">
        <div class="v6-v3-itm1 itmcaresolution">
            <div class="v6-v3-itm1-v1 itmcaresolutiontop"></div>
            <div class="v6-v3-itm1-v2 itmcaresolutionmiddle">
                <p class="v6-v3-itm1-v2-txt1 itmcaresolutionmiddletxt1">Registered Nurses / Team Leaders</p>
                <p class="v6-v3-itm1-v2-txt2 itmcaresolutionmiddletxt2">A nursing manager is responsible for promoting and restoring patients' health by developing day-to-day management and long-term planning of the patient care area.</p>
                <button class="v6-v3-itm1-v2-btn1 itmcaresolutionmiddlebtn1">Read more</button>
            </div>
        </div>
        <div class="v6-v3-itm2 itmcaresolution">
            <div class="v6-v3-itm2-v1 itmcaresolutiontop"></div>
            <div class="v6-v3-itm2-v2 itmcaresolutionmiddle">
                <p class="v6-v3-itm2-v2-txt1 itmcaresolutionmiddletxt1">Health Care Assistants</p>
                <p class="v6-v3-itm2-v2-txt2 itmcaresolutionmiddletxt2">Healthcare Assistants (HCAs) work within a range of NHS hospital or community settings under the guidance of a variety of healthcare professionals.</p>
                <button class="v6-v3-itm2-v2-btn1 itmcaresolutionmiddlebtn1">Read more</button>
            </div>
        </div>
        <div class="v6-v3-itm3 itmcaresolution">
            <div class="v6-v3-itm3-v1 itmcaresolutiontop"></div>
            <div class="v6-v3-itm3-v2 itmcaresolutionmiddle">
                <p class="v6-v3-itm3-v2-txt1 itmcaresolutionmiddletxt1">Chefs / Catering Assistants</p>
                <p class="v6-v3-itm3-v2-txt2 itmcaresolutionmiddletxt2">Catering Assistants are employed to prepare food, stock supplies and clean kitchens and service work areas.</p>
                <button class="v6-v3-itm3-v2-btn1 itmcaresolutionmiddlebtn1">Read more</button>
            </div>
        </div>
    </div>
</div>