<div class="v2">
    <input type="text" class="name" placeholder="Name">
    <input type="text" class="mobile" placeholder="Mobile">
    <input type="email" class="email" placeholder="Email">
    <input type="text" class="location" placeholder="Location">
    <input type="text" class="profession" placeholder="Profession">
    <input type="text" class="experience" placeholder="Experience">
    <label>Upload your CV <a href="https://imgbb.com">here</a> and send link: </label>
    <input type="text" class="cvURL" placeholder="CV URL">
    <textarea class="notes" placeholder="Notes"></textarea>
    <button class="submit">Submit</button>
</div>