<div class="v2">
    <div class="v2-h1">
        <div class="v2-h1-v1">
            <p class="v2-h1-v1-txt1">Personal Care</p>
        </div>
        <div class="v2-h1-v2">
            Our care packages are totally tailored to your needs and prepared with as much or as little involvement from you and your family members as you choose.
        </div>
        <div class="v2-h1-v3">
            Our most commonly requested services are:<br><br>
            <ul>
                <li>Dressing, washing, bathing and grooming</li>
                <li>Toileting & Continence management</li>
                <li>Food preparation and assistance with meals with a focus on healthy eating</li>
                <li>Medication support and management</li>
                <li>Mobility and falls prevention management</li>
                <li>Trained techniques to assist with moving and handling</li>
                <li>Skin integrity and pressure area care management</li>
            </ul>
            <button class="enquire">Enquire now</button>
        </div>
    </div>
    <div class="v2-h2">
        <div class="v2-h2-v1"></div>
    </div>
</div>