<div class="v3">
    <div class="v3-h2">
        <div class="v3-h2-v1"></div>
    </div>
    <div class="v3-h1">
        <div class="v3-h1-v1">
            <p class="v3-h1-v1-txt1">Live-In Care</p>
        </div>
        <div class="v3-h1-v2">
            Our live-in care team is well-trained and has extensive expertise in nursing care. We constantly collaborate with local nursing teams to ensure that our service users receive the best possible care and that the transition from hospital to home is as smooth as possible.
        </div>
        <div class="v3-h1-v3">
            If you have loved ones travelling on vacation or are recovering from an illness, our Live-In services can be long-term or short-term. We understand that circumstances change and that we all require assistance from time to time. We may provide you with a Short-term Live-In package to help you with your care requirements. If you have been discharged from hospital or know you will have a recovery period from an operation our Live-In carers can be on hand to assist you.
        </div>
        <button class="enquire">Enquire now</button>
    </div>
</div>