<div class="v4">
    <div class="v4-h1">
        <div class="v4-h1-v1">
            <p class="v4-h1-v1-txt1">Dementia Care</p>
        </div>
        <div class="v4-h1-v2">
            Architecture is more than symbolic. Artfulness is derived from purpose and creative problem solving, from challenging what’s expected to discover opportunities to do things in newer, better, more creative ways based on technology and socio-cultural evolution. We approach design in an integrated way through exploration and holistic thinking, basing our design on the symbiotic relationship between land, form, structure, systems, and materials to drive high performing buildings.
        </div>
        <div class="v4-h1-v3">
            Although our dementia care is personalised to each individual's needs, the following are the most often requested services:<br><br>
            <ul>
                <li>Personal care and support</li>
                <li>Respite care for family members, including live-in or night care</li>
                <li>Assistance in participating in the local community through visits to libraries, places of worship, leisure centres or shopping</li>
                <li>Maintenance of current skills and teaching of new communication techniques</li>
                <li>Assistance to keep up hobbies such as music, crafts, exercise, cooking and gardening.</li>
            </ul>
            <button class="enquire">Enquire now</button>
        </div>
    </div>
    <div class="v4-h2">
        <div class="v4-h2-v1"></div>
    </div>
</div>