<div class="v5">
    <div class="v5-h2">
        <div class="v5-h2-v1"></div>
    </div>
    <div class="v5-h1">
        <div class="v5-h1-v1">
            <p class="v5-h1-v1-txt1">Domiciliary Care</p>
        </div>
        <div class="v5-h1-v2">
            Domiciliary care is the range of services put in place to support an individual in their own home, and is available to those that require additional support with day to day household tasks, personal care or any other activity that allows them to maintain their quality of life and independent living.
        </div>
        <div class="v5-h1-v3">
            We provide ongoing support that’s completely built around your needs and routines. It’s one of the many reasons why we’re the nation’s favourite for home care.
        </div>
        <button class="enquire">Enquire now</button>
    </div>
</div>