<div class="v6">
    <div class="v6-h1">
        <div class="v6-h1-v1">
            <p class="v6-h1-v1-txt1">Specialist Care</p>
        </div>
        <div class="v6-h1-v2">
            We recognise that each person we assist is unique, with varying care needs, and that expert care services are necessary to focus on and achieve the greatest outcomes for persons with specific care needs.
        </div>
        <div class="v6-h1-v3">
            Our specialist care include the following:<br><br>
            <ul>
                <li>Live-In Care</li>
                <li>Dementia Support</li>
                <li>Reablement Services</li>
                <li>Support with Learning Disability</li>
                <li>Mental Health diagnosis</li>
                <li>Palliative Care.</li>
            </ul>
            <button class="enquire">Enquire now</button>
        </div>
    </div>
    <div class="v6-h2">
        <div class="v6-h2-v1"></div>
    </div>
</div>