<div class="v7">
    <div class="v7-h2">
        <div class="v7-h2-v1"></div>
    </div>
    <div class="v7-h1">
        <div class="v7-h1-v1">
            <p class="v7-h1-v1-txt1">Reablement Care</p>
        </div>
        <div class="v7-h1-v2">
            Sometimes folks just require a short-term care package. Whether it's to aid you through a brief sickness, to help you get back on your feet after an operation, or to help you rebuild your confidence after a tumble. We can create a highly personalised care plan to help you or a loved one regain full health and freedom. Bayview Healthcare can assist you with your personal care needs as well as your daily living tasks. Our reablement service is adaptable, which means that the degree of assistance you receive may be altered to fit your changing needs. We can reduce the degree of care you get as your condition improves and your support needs decrease.
        </div>
        <div class="v7-h1-v3">
            We want to help you restore your freedom as soon as possible and eliminate the need for costly long-term care. If you would like to learn more about our short-term rehabilitation programmes and how we may help you or a loved one, please contact your local branch, who will be pleased to help.
        </div>
        <button class="enquire">Enquire now</button>
    </div>
</div>