<div class="v4">
    <div class="v4-h1">
        <div class="v4-h1-v1">
            <div class="v4-h1-v1-txt1">100%</div>
            <div class="v4-h1-v1-txt2">Service Quality</div>
        </div>
        <div class="v4-h1-v2">
            <div class="v4-h1-v2-txt1">100%</div>
            <div class="v4-h1-v2-txt2">Satisfied Clients</div>
        </div>
    </div>
    <div class="v4-h2">
        <div class="v4-h2-v1">Our<br>Homecare<br>Services</div>
        <div class="v4-h2-v2">At Talentflow Healthcare we provide personal care and support that helps you remain independent in your own home. Our homecare services are tailored made for you to meet all your care needs. We also supply temporary staff to Nursing Homes, Residential Homes, Supported Living Establishments and Hospitals.</div>
    </div>
</div>