<div class="v5">
    <div class="v5-wrapper">    
        <div class="v5-v1">
        <div class="v5-v1-h1">
            <div class="v5-v1-h1-v1">
                Contact Us
            </div>
            <div class="v5-v1-h1-v2">TalentFlow Care Solutions</div>
            <div class="v5-v1-h1-v3">
                <p class="v5-v1-h1-v3-txt1"><span class="v5-v1-h1-v3-txt1-icon"></span>168 Brighton Road Lancing BN158LL</p>
                <p class="v5-v1-h1-v3-txt2"><span class="v5-v1-h1-v3-txt2-icon"></span>+447916278900</p>
                <p class="v5-v1-h1-v3-txt3"><span class="v5-v1-h1-v3-txt3-icon"></span>+447915000239</p>
                <p class="v5-v1-h1-v3-txt4"><span class="v5-v1-h1-v3-txt4-icon"></span>info@talentflowltd.co.uk</p>
            </div>
        </div>
        <div class="v5-v1-h2">
            <div class="v5-v1-h2-v1">
                <div class="v5-v1-h2-v1-img1"></div>
            </div>
            <div class="v5-v1-h2-v2">
                <button class="v5-v1-h2-v2-btn1">Home</button>
                <button class="v5-v1-h2-v2-btn2">About</button>
                <button class="v5-v1-h2-v2-btn3">Care Solutions</button>
                <button class="v5-v1-h2-v2-btn4">Staffing Solution</button>
                <button class="v5-v1-h2-v2-btn5">Enquiry</button>
                <button class="v5-v1-h2-v2-btn6">Contact</button>
            </div>
            <div class="v5-v1-h2-v3">
                <button class="v5-v1-h2-v3-btn1"></button>
                <button class="v5-v1-h2-v3-btn2"></button>
                <button class="v5-v1-h2-v3-btn3"></button>
            </div>
        </div>
        <div class="v5-v1-h3">
            <div class="v5-v1-h3-v1">Call Me Back</div>
            <div class="v5-v1-h3-v2">
                <input class="v5-v1-h3-v2-inp1" type="text" placeholder="Enter your number">
            </div>
            <div class="v5-v1-h3-v3">
                <button class="v5-v1-h3-v3-btn1">Call me</button>
            </div>
        </div>
    </div>
    <div class="v5-v2">
        &copy; 2025 BAYVUE CARE SOLUTIONS. All Rights Reserved | Powered By NabeelLatheef
    </div></div>
</div>