<div class="v2">
    <input type="text" class="name" placeholder="Name">
    <input type="text" class="mobile" placeholder="Mobile">
    <input type="email" class="email" placeholder="Email">
    <input type="text" class="location" placeholder="Location">
    <select class="servicetype">
        <option value="services">Services</option>
        <option value="caresol">Care Solutions</option>
        <option value="staffsol">Staffing Solutions</option>
    </select>
    <textarea class="notes" placeholder="Notes"></textarea>
    <button class="submit">Submit</button>
</div>